In [1]:
import pandas as pd
from sklearn import preprocessing, metrics, model_selection, linear_model
from xgboost import XGBClassifier

In [2]:
train=pd.read_csv("train_u6lujuX_CVtuZ9i.csv")
test=pd.read_csv("test_Y3wMUE5_7gLdaTN.csv")

In [3]:
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [4]:
train=train.drop('Loan_ID',1)
test=test.drop('Loan_ID',1)

In [5]:
train.shape

(614, 12)

In [6]:
train['Married'].isnull().sum()

3

In [7]:
train.fillna(train.dropna().max(),inplace =True)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,600.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,Male,Yes,2,Graduate,Yes,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,1.0,Urban,Y
17,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,Male,Yes,0,Graduate,Yes,2600,3500.0,115.0,480.0,1.0,Urban,Y
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,Male,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,Male,Yes,1,Graduate,Yes,3717,2925.0,151.0,360.0,1.0,Semiurban,N
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,Female,No,2,Graduate,Yes,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
584,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,Male,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,Male,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,Male,No,3+,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,Female,No,3+,Graduate,Yes,416,41667.0,350.0,180.0,1.0,Urban,N
601,Male,Yes,0,Not Graduate,Yes,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,Male,Yes,0,Not Graduate,No,2400,3800.0,600.0,180.0,1.0,Urban,N
606,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [8]:
test.fillna(test.dropna().max(),inplace =True)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,Male,Yes,2,Graduate,Yes,13633,0,280.0,240.0,1.0,Urban
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,Male,Yes,1,Graduate,Yes,2185,1516,162.0,360.0,1.0,Semiurban
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,1.0,Urban
13,Male,Yes,2,Graduate,Yes,12173,0,166.0,360.0,0.0,Semiurban
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,Male,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,1.0,Urban
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,1.0,Semiurban
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,1.0,Rural
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,1.0,Rural
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,1.0,Urban
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,1.0,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [9]:
train.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [10]:
le= preprocessing.LabelEncoder()
for i in train.columns:
    if train[i].dtype== type(object):
        train[i]=le.fit_transform(train[i])
for i in test.columns:
    if test[i].dtype== type(object):
        test[i]=le.fit_transform(test[i])

In [11]:
train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849,0.0,600.0,360.0,1.0,2,1
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [12]:
# #normalize 
# column=['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount','Loan_Amount_Term']
# for i in column:
#     train[i]=train[i]/train[i].max()
#decreased the accuracy

In [13]:
y= train['Loan_Status']
x=train.drop('Loan_Status',1)

In [14]:
train_x, valid_x, train_y, valid_y= model_selection.train_test_split(x,y,test_size=0.2)

In [15]:
model= XGBClassifier(max_depth=2,base_score=0.9, n_estimators=50)

In [16]:
model.fit(train_x, train_y)

XGBClassifier(base_score=0.9, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=2, min_child_weight=1, missing=None, n_estimators=50,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [17]:
pred=model.predict(valid_x)

/Users/gagicha/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [18]:
print(pred)

[1 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 0 1 0 0 1 1 0 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 1 1 1 1]

In [19]:
# metrics.accuracy_score(valid_y, pred)
model.score(valid_x, valid_y)

/Users/gagicha/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.7967479674796748

In [20]:
print(metrics.confusion_matrix(valid_y, pred))

[[15 24]
 [ 1 83]]

Grid search for hyperparameter tuning

In [21]:
# from sklearn.grid_search import GridSearchCV

# xgb_model = XGBClassifier()
# optimization_dict = {'max_depth': [2,4,6],
#                      'n_estimators': [50,100,200],
#                     'base_score': [0.5,0.7,0.9]}

# model = GridSearchCV(xgb_model, optimization_dict, 
#                      scoring='accuracy', verbose=1)
# model.fit(train_x, train_y)

In [22]:
# print(model.best_score_)

In [23]:
# print(model.best_params_)

In [24]:
clf=linear_model.LogisticRegression(C=1e5)

In [25]:
clf.fit(train_x, train_y)
clf.score(valid_x, valid_y)

0.7967479674796748